
<div class="tt-breadcrumb">
  <div class="container">
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="listing-left-column.html">Shop</a></li>
      <li>{{productObj.ProductName}}</li>
    </ul>
  </div>
</div>
<div id="tt-pageContent">
  <div class="container-indent">
    <!-- /mobile product slider  -->
    <div class="container  container-fluid-mobile">
      <div class="row">
        <div class="col-6 hidden-xs">
          <div class="tt-product-single-img">
            <div>
              <button class="tt-btn-zomm tt-top-right"><i class="icon-f-86"></i></button>
              <img class="zoom-product" [src]='productObj.ProductImage'alt="">
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="tt-product-single-info">
            <div class="tt-add-info">
              <ul>
                <li><span>SKU:</span> {{productObj.ProductId}}</li>
                <li><span>Availability:</span> {{productObj.Attributes.Type ? productObj.Attributes.Type[0].UnitsInStock : productObj.Attributes.Size[0].UnitsInStock}}</li>
              </ul>
            </div>
            <h1 class="tt-title">{{productObj.ProductName}}</h1>
            <div class="tt-price">
              <span class="new-price">{{productObj.Attributes.Type ? productObj.Attributes.Type[0].PricePerUnit : productObj.Attributes.Size[0].PricePerUnit}} AED</span>
              <span class="old-price"></span>
            </div>
            <div class="tt-add-info">
              <ul class="tt-add-info" *ngIf="productObj.Attributes.Type">
                <li>Type: {{productObj.Attributes.Type[0].Attribute}}</li>
                <li>Country: {{productObj.Attributes.Type[0].CountryOfOriginId}}</li>
                <li>Delivery: {{productObj.Attributes.Type[0].DeliveryType}}</li>
              </ul>
              <ul class="tt-add-info" *ngIf="productObj.Attributes.Size">
                <li>Size: {{productObj.Attributes.Size[0].Attribute}}</li>
                <li>Country: {{productObj.Attributes.Size[0].CountryOfOriginId}}</li>
                <li>Delivery: {{productObj.Attributes.Size[0].DeliveryType}}</li>
              </ul>
            </div>
            
            <div class="tt-wrapper">
            </div>
            <div class="tt-wrapper">
              <div class="tt-row-custom-01">
                <!-- <div class="col-item">
                  <div class="tt-input-counter style-01">
                    <span class="minus-btn"></span>
                    <input type="text" value="1" size="5" />
                    <span class="plus-btn"></span>
                  </div>
                </div> -->
                <div class="col-item" style="width: 100%">
                  <a (click)="showCartModal(productObj)" class="btn btn-lg" style="color:white!important"><i class="icon-f-39"></i>ADD TO CART</a>
                </div>
              </div>
            </div>
            <div class="tt-wrapper">
              <ul class="tt-list-btn">
                <li><a class="btn-link"><i class="icon-n-072"></i>ADD TO WISH LIST</a></li>
              </ul>
            </div>
            <div class="tt-collapse-block">
              <div class="tt-item active">
                <div class="tt-collapse-title">DESCRIPTION</div>
                <div class="tt-collapse-content">
                  {{productObj.ProductName}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
