<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" (click)="changepasswordModal.dismiss('Cross click')" aria-hidden="true"><span class="icon icon-clear"></span></button>
</div>
<div class="modal-body">
  <div class="tt-modal-quickview desctope">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12">
          <div class="tt-swatches-container">
            <div class="tt-wrapper">
              <form [formGroup]="passwordForm" class="form-default" >
                <div class="form-group" >
                  <label for="CurrentPassword">Current Password <sup>*</sup></label>
                  <input type="password" formControlName="CurrentPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.CurrentPassword.errors }" class="form-control" id="" placeholder="">
                  <div *ngIf="f.CurrentPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.CurrentPassword.errors.required">Current Password is required</div>
                  </div>
                </div>
                <div class="form-group" >
                  <label for="NewPassword">New Password <sup>*</sup></label>
                  <input type="password" formControlName="NewPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.NewPassword.errors }" class="form-control" id="" placeholder="">
                  <div *ngIf="f.NewPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.NewPassword.errors.required">New Password is required</div>
                  </div>
                </div>
                <div class="form-group" >
                  <label for="RetypePassword">Retype Password <sup>*</sup></label>
                  <input type="password" formControlName="RetypePassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.RetypePassword.errors }" class="form-control" id="" placeholder="">
                  <div *ngIf="f.RetypePassword.errors" class="invalid-feedback">
                    <div *ngIf="f.RetypePassword.errors.required">Retype Password is required</div>
                  </div>
                  <div class="invalid-feedback" style="display: block;" *ngIf="!is_same">Passwords do not match</div>
                </div>
              </form>
            </div>
          <div class="tt-wrapper">
            <div class="tt-row-custom-01">
              <div class="col-item">
                <a (click)="submit()" [ngClass]="{ 'is-disabled': passwordForm.invalid }" class="btn btn-lg addtocart">SUBMIT</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>