<div class="modal-dialog modal-lg">
  <div class="modal-content ">
<div class="modal-header">
  <button type="button" (click)="quickmodal.dismiss('Cross click')" class="close" data-dismiss="modal" aria-hidden="true"><span class="icon icon-clear"></span></button>
</div>
<div class="modal-body">
  <div class="tt-modal-quickview desctope">
    <div class="row">
      <div class="col-12 col-md-5 col-lg-6">
        <img [src]="product.ProductImage" style="width: 100%" alt="">
      </div>
      <div class="col-12 col-md-7 col-lg-6">
        <div class="tt-product-single-info">
          <h2 class="tt-title quick_productname">{{product.ProductName}}</h2>
            <div *ngFor="let type_item of selectedAttrs; let index = index;">
              <h5 class="quick_attribute">{{type_item.Attribute}}</h5>
              <div class="tt-price">
                <span class="new-price">{{type_item.PricePerUnit}} AED</span>
              </div>
              <div class="tt-add-info">
                <ul >
                  <li><span>Availability:</span> {{type_item.UnitsInStock}} in Stock</li>
                  <!-- <li><a>Country: {{type_item.CountryOfOriginId}}</a></li>
                  <li><a>Delivery: {{type_item.DeliveryType}}</a></li> -->
                </ul>
              </div>
              <!-- <div class="tt-swatches-container">
                <div class="tt-wrapper">
                  <div class="tt-title-options">SIZE</div>
                  <form class="form-default">
                    <div class="form-group">
                      <select class="form-control">
                        <option>21</option>
                        <option>25</option>
                        <option>36</option>
                      </select>
                    </div>
                  </form>
                </div>
              </div> -->
              <div class="tt-wrapper quick-wrapper">
                <div class="tt-row-custom-01">
                  <div class="col-item">
                    <div class="tt-input-counter style-01">
                      <span class="minus-btn" (click)="removeCartCount(index)"></span>
                      <input name=countIndex{{index}} [(ngModel)]="countInput[index]" type="text" [value]="1" size="100">
                      <span class="plus-btn" (click)="addCartCount(index)"></span>
                    </div>
                  </div>
                  <div class="col-item">
                    <a (click)="QuickAddToCart(product, type_item, index)" class="btn btn-lg quick_add_cart"><i class="icon-f-39"></i>ADD TO CART</a>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>

