<button (click)="testBluePrint()">Test blue print</button>


<button (click)="pingKernal()">Test kernal</button>




<button (click)="testEcom()">Test ecomm</button>
<button (click)="getErrorCode()"> ERROR</button>
<button (click)="GetTenantId()">tenant Id</button>
<button (click)="signOut()">signout</button>
<button (click)="testgraphics()">graphics</button>

<button (click)="ping()">ping</button>


<app-child></app-child>
<button type="button" class="btn btn-sm btn-primary" (click)="this.openModal()">
  Open Modal
</button>
