
  <div class="tt-breadcrumb">
    <div class="container">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li>Shopping Cart</li>
      </ul>
    </div>
  </div>
  <div id="tt-pageContent">
    <div class="container-indent">
      <div class="container">
        <h1 class="tt-title-subpages noborder">SHOPPING CART</h1>
        <div class="tt-shopcart-table-02">
          <table>
            <tbody *ngIf="shoppingCart != null">
              <tr *ngFor="let item of shoppingCart.Products; let index = index">
                <td>
                  <div class="tt-product-img">
                    <img [src]="item.Product.ProductImage" alt="">
                  </div>
                </td>
                <td>
                  <h2 class="tt-title">
                    <a href="#">{{item.Product.ProductName}}</a>
                  </h2>
                  <ul class="tt-list-description">
                    {{item.Attribute}}
                  </ul>
                  <ul class="tt-list-parameters">
                    <li>
                      <div class="tt-price">
                        {{item.PricePerUnit}} AED
                      </div>
                    </li>
                    <li>
                      <div class="detach-quantity-mobile"></div>
                    </li>
                    <li>
                      <div class="tt-price subtotal">
                        {{item.PricePerUnit*item.Count}} AED
                      </div>
                    </li>
                  </ul>
                </td>
                <td>
                  <div class="tt-price">
                    {{item.PricePerUnit}} AED
                  </div>
                </td>
                <td>
                  <div class="detach-quantity-desctope">
                    <div class="tt-input-counter style-01">
                      <span class="minus-btn" (click)="removeCartCount(item)"></span>
                      <input type="text" [value]="item.Count">
                      <span class="plus-btn" (click)="addCartCount(item)"></span>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="tt-price subtotal">
                    {{item.PricePerUnit*item.Count}} AED
                  </div>
                </td>
                <td>
                  <a (click)="deleteCart(item)" class="tt-btn-close"></a>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="tt-shopcart-btn">
            <div class="col-left">
              <a class="btn-link" href="#"><i class="icon-e-19"></i>CONTINUE SHOPPING</a>
            </div>
            <!-- <div class="col-right">
              <a class="btn-link" href="#"><i class="icon-h-02"></i>CLEAR SHOPPING CART</a>
              <a class="btn-link" href="#"><i class="icon-h-48"></i>UPDATE CART</a>
            </div> -->
          </div>
        </div>
        <div class="tt-shopcart-col">
          <div class="row">
            <div class="col-md-6 col-lg-4">
              <form class="form-default">
              <div class="tt-shopcart-box">
                <div class="form-group">
                  <label for="address_zip">Your Address <sup>*</sup></label>
                  <input type="text" name="your_address" class="form-control" id="" placeholder="">
                </div>
                <div class="form-group">
                  <label for="address_zip">New Address <sup>*</sup></label>
                  <input type="text" name="new_address" class="form-control" id="" placeholder="">
                </div>
                <h4 class="tt-title">
                  NOTE
                </h4>
                <p>Add special instructions for your order...</p>
                <textarea class="form-control" rows="3" style="height: 200px!important;"></textarea>
              </div>
              </form>
            </div>
            <div class="col-md-12 col-lg-8">
              <div class="tt-shopcart-box tt-boredr-large">
                <table class="tt-shopcart-table01">
                  <tbody>
                    <tr>
                      <th>SUBTOTAL</th>
                      <td>{{cartTotalPrice}} AED</td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <th>GRAND TOTAL</th>
                      <td>{{cartTotalPrice}} AED</td>
                    </tr>
                  </tfoot>
                </table>
                <a href="#" class="btn btn-lg"><span  class="icon icon-check_circle"></span>PROCEED TO CHECKOUT</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
