<!--<div id="loader-wrapper">
  <div id="loader">
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
  </div>
</div>-->

<div id="tt-pageContent">
  <div class="container-indent nomargin">
    <div class="container-fluid-custom">
      <div class="row tt-layout-promo-box">
        <div class="col-sm-12 col-md-6">
          <a (click)="viewProduct(1)" class="tt-promo-box tt-one-child">
            <img src="assets/images/promo/index09-promo-img-01.jpg" alt="">
            <div class="tt-description">
              <div class="tt-description-wrapper">
                <div class="tt-background"></div>
                <div class="tt-title-small">29.99 AED</div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-12 col-md-6">
          <a (click)="viewProduct(1)" class="tt-promo-box tt-one-child">
            <img  src="assets/images/promo/index09-promo-img-02.jpg" alt="">
            <div class="tt-description">
              <div class="tt-description-wrapper">
                <div class="tt-background"></div>
                <div class="tt-title-small">70 AED</div>
              </div>
            </div>
          </a>
          <a (click)="viewProduct(1)" class="tt-promo-box tt-one-child">
            <img  src="assets/images/promo/index09-promo-img-03.jpg" alt="">
            <div class="tt-description">
              <div class="tt-description-wrapper">
                <div class="tt-background"></div>
                <div class="tt-title-small">100 AED</div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container-indent">
    <div class="container">
      <div class="tt-block-title">
        <h1 class="tt-title">FRESH FISH AND SHELLFISH</h1>
      </div>
      <div class="tt-text-box01">
       enjoy delicious lobster, crab, oysters, mussels and cockles or choose from over 39 varieties of fresh fish like mackerel,
        monkfish, sea bass and pollock - sustainably-sourced and expertly prepared by our fish filleting team.
        Your fresh seafood delivery will arrive ready to cook or freeze with handy tips and fish recipes ideas for you to try.
      </div>
    </div>
  </div>

  <div class="container-indent">
    <div class="container container-fluid-custom-mobile-padding">
      <div class="row">
        <div class="col-8 col-md-6 col-lg-8">
          <ul class="nav nav-tabs tt-tabs-default" role="tablist" >
            <li class="nav-item" *ngFor="let category of productCategories[0].SubCategories;let index=index;">
              <a *ngIf="index == 0" class="nav-link active" data-toggle="tab" href="#tt-tab01-01" (click)="setCategory(1)">All</a>
              <a class="nav-link" data-toggle="tab" href="#tt-tab01-01" (click)="setCategory(category.CategoryId)">{{category.CategoryName}}</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tt-tab01-01">
              <div class="row tt-layout-product-item" >
                <div class="col-6 col-md-6 col-lg-4" *ngFor="let product of filterProducts(products)" >
                  <div class="tt-product thumbprod-center" style="cursor: pointer!important;">
                    <div class="tt-image-box">
                      <a (click)="viewQuick(product)" class="tt-btn-quickview" data-tooltip="Quick View"
                        data-tposition="left">
                      </a>
                      <a href="#" class="tt-btn-wishlist" data-tooltip="Add to Wishlist" data-tposition="left"></a>
                      <a (click)="viewProduct(product.ProductId)">
                        <span class="tt-img"><img [src]="product.ProductImage" alt="" style="cursor: pointer!important;"></span>
                        <span class="tt-img-roll-over"><img [src]="product.ProductImage" alt=""></span>
                      </a>
                    </div>
                    <div class="tt-description" style="cursor: pointer!important;">
                      <div class="tt-row" style="cursor: pointer!important;">
                        <ul class="tt-add-info" style="cursor: pointer!important;">
                          <li><h5><a (click)="viewProduct(product.ProductId)">{{product.ProductName}}</a></h5></li>
                        </ul>
                        <ul class="tt-add-info" *ngIf="product.Attributes.Type" style="cursor: pointer!important;" >
                          <li><a>{{product.Attributes.Type[0].Attribute}}</a></li>
                          <li><a>{{product.Attributes.Type[0].PricePerUnit}}</a></li>
                          <li><a>{{product.Attributes.Type[0].CountryOfOriginId}}</a></li>
                          <li><a>{{product.Attributes.Type[0].DeliveryType}}</a></li>
                        </ul>
                        <ul class="tt-add-info" *ngIf="product.Attributes.Size" style="cursor: pointer!important;">
                          <li><a>{{product.Attributes.Size[0].Attribute}}</a></li>
                          <li><a>{{product.Attributes.Size[0].PricePerUnit}}</a></li>
                          <li><a>{{product.Attributes.Size[0].CountryOfOriginId}}</a></li>
                          <li><a>{{product.Attributes.Size[0].DeliveryType}}</a></li>
                        </ul>
                      </div>
                      <h2 class="tt-title" style="cursor: pointer!important;"><a (click)="viewProduct(1)">{{product.ProductId}}</a></h2>
                      <div class="tt-price" style="cursor: pointer!important;">
                        <!--{{product.Attributes.Type[0].PricePerUnit}}-->
                      </div>
                      <div class="tt-product-inside-hover" style="cursor: pointer!important;">
                        <div class="tt-row-btn">
                            <a class="tt-btn-addtocart thumbprod-button-bg" (click)="showCartModal(product)" style="cursor: pointer!important;">ADD TO CART</a>
                        </div>
                        <div class="tt-row-btn">
                          <a href="#" class="tt-btn-quickview" data-toggle="modal" data-target="#ModalquickView"></a>
                          <a href="#" class="tt-btn-wishlist"></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 col-md-6 col-lg-4">
          <div class="sticky-cart">
            <h1 class="tt-title-subpages">Your cart</h1>
            <div *ngIf="cartTotalPrice == 0" class="empty-cart"> 
              <i class="icon-f-39"></i>
              <p>There are no items in your cart</p>
            </div>
            <div *ngIf="cartTotalPrice > 0">
              <div class="tt-shopcart-table-02">
                <table>
                  <tbody *ngIf="shoppingCart != null">
                    <tr *ngFor="let item of shoppingCart.Products; let index = index">
                      <td>
                        <h2 class="tt-title" >
                          <a style="font-size: 13px;">{{item.Product.ProductName}}</a>
                        </h2>
                        <ul class="tt-list-description">
                          <li style="font-size: 12px;">{{item.Attribute}}</li>
                        </ul>
                      </td>
                      <td>
                        <div class="tt-price" style="font-size: 13px;">
                          {{item.PricePerUnit}} AED
                        </div>
                      </td>
                      <td>
                        <div class="detach-quantity-desctope right-side-cart-quantity">
                          <div class="tt-input-counter style-01">
                            <span class="minus-btn" (click)="removeCartCount(item)"></span>
                            <input type="text" [value]="item.Count" size="100">
                            <span class="plus-btn" (click)="addCartCount(item)"></span>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="tt-price subtotal" style="font-size: 13px;">
                          {{item.PricePerUnit * item.Count}} AED
                        </div>
                      </td>
                      <td>
                        <a (click)="deleteCart(item)" class="tt-btn-close"></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="tt-shopcart-box tt-boredr-large">
                <table class="tt-shopcart-table01">
                  <tbody>
                    <tr><th>SUBTOTAL</th><td>{{cartTotalPrice}} AED</td></tr>
                  </tbody>
                  <!-- <tfoot><tr><th>GRAND TOTAL</th><td>{{cartTotalPrice}} AED</td></tr></tfoot> -->
                </table><a (click)="viewCart()" class="btn btn-lg" style="color:white!important">
                  <span class="icon icon-check_circle"></span>PROCEED TO CHECKOUT</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-indent">
    <div class="container" style="padding-top: 50px;">
      <div class="row">
        <div class="col-lg-8 col-md-6">
          <div class="tt-discover-app">
            <h2>Discover the new talabat app</h2>
            <p>Get what you need, when you need it</p>
            <button><img src="assets/images/icon_App.png"></button>
            <button><img src="assets/images/icon_Google.png"></button>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <img class="app-image" src="assets/images/mobile.png" >
        </div>
      </div>
    </div>
  </div>
  <div class="container-indent">
    <div class="container">
      <div class="row tt-carousel-brands arrow-location-center-02 tt-arrow-hover slick-animated-show-js">
        <div>
          <a href="#"><img src="assets/images/custom/brand-img-01.png" alt=""></a>
        </div>
        <div>
          <a href="#"><img src="assets/images/custom/brand-img-05.png" alt=""></a>
        </div>
        <div>
          <a href="#"><img src="assets/images/custom/brand-img-06.png" alt=""></a>
        </div>
        <div>
          <a href="#"><img src="assets/images/custom/brand-img-02.png" alt=""></a>
        </div>
        <div>
          <a href="#"><img src="assets/images/custom/brand-img-07.png" alt=""></a>
        </div>
        <div>
          <a href="#"><img src="assets/images/custom/brand-img-04.png" alt=""></a>
        </div>
        <div>
          <a href="#"><img src="assets/images/custom/brand-img-03.png" alt=""></a>
        </div>
        <div>
          <a href="#"><img src="assets/images/custom/brand-img-08.png" alt=""></a>
        </div>
      </div>
    </div>
  </div>
</div>
